.center {
    margin: auto;
    width: 300px;
    border: 3px solid rgb(204, 136, 113);
    padding: 5px 15px;
    }

.photo {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 300px;
    height: 400px;
}

h2{
    border-radius: 20px;
    color: rgb(9, 40, 75);
    font-family: "Righteous";
    font-size: 18pt;
    margin-bottom: 5px;
    text-align: center;
}

p {
    color: rgb(9, 40, 75);
    font-family: "Didact Gothic";
    font-size: 18pt;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}